doctype html
html
  head
    title Home Page
  body
    h1 Disciplines available for data retrieval
    .game-block
      p: a(href="/csgo") Countrer Strike: Global Offensive
      p: a(href="/valorant") Valorant
      p: a(href="/overwatch") Overwatch
